.header-bar {
  position: fixed;
  top: 0;
  background-color: #0466c8;
  height: 100px;
  width: 100%;
}

.header-title {
  color: white;
  margin-top: 20px;
  margin-left: 40px;
}

.nav-bar {
  position: fixed;
  width: auto;
  height: 100px;
  right: 55px;
  top: 30px;
}

.nav-bar a {
  text-decoration: none;
  color: antiquewhite;
}

.nav-button {
  margin-right: 20px;
  text-decoration: none;
}

.main-container {
  width: 95%;
  height: fit-content;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.activity-container {
  width: 95%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.activity-item {
  background-color: #23B5D3;
  width: 40%;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: auto;
}

.activity-label {
  display: inline-flex;
  align-items: left;
  line-height: 18px;
  font-size: 16px;
  width: 35%;
  height: 22px;
  margin-left: 10px;
}

h4 {
  font-size: 1.2vw;
}

p {
  font-size: 1.2vw;
}

.activity-description {
  display: inline-flex;
  align-items: right;
  line-height: 18px;
  font-size: 15px;
  width: 35%;
  height: 22px;
}

.profile-container {
  height: 1200px;
  width: 600px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.courses-container {
  height: 1600px;
  margin-top: 150px;
  width: 95%;
  display: flex;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
}

.course-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  width: 300px;
  height: 250px;
}

.schedule {
  height: 1900px;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 95%;
  display: grid;
  grid-template-columns: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}


.schedule-container {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.schedule-event {
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 75px;
}

.calendar-day {
  top: 10px;
  font-size: 18px;
  display: inline-flex;
  margin-left: 10px;
  width: auto;
}

.calendar-day-event {
  display: inline-flex;
  margin-left: 15px;
  width: auto;
}

.test-div {
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 150px;
  background-color: #0466c8;
}

.pagination-bar {
  bottom: 50px;
  margin-bottom: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.message-board-container {
  display: grid;
  grid-template-columns: auto;
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.comment {
  height: 150px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.comment-message {
  margin-left: 20px;
}

.comment-user {
  margin-left: 20px;
}

.add-comment-field {
  margin-left: 40px;
  margin-top: 20px;
}

.add-comment-user-field {
  margin-left: 40px;
  margin-top: 20px;  
}

.leave-comment-button {
  width: 200px;
  margin-left: 30px;
}

.course-content-container {
  height: 1600px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.course-content-material {
  height: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 95%;
}

.course-content-question {
  height: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 95%;
}

.footer-bar {
  background-color: #0466c8;
  height: 75px;
  width: 100%;
}

